* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
/*----------Navbar-Start--------*/
.nav-main {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
}
.nav-img-logo {
    width: 150px;
}
.nav-btn {
    padding: 8px 18px;
    border: none;
    color: #fff;
    background-color: #fe4042;
    border-radius: 8px;
    opacity: .850;
}
.nav-btn:hover {
    color: #fff;
    background-color: #f6171b;
    transition: .4s;
}
.nav-ul-main {
    padding-left: 30px;
}
.nav-li {
    padding-left: 25px;
}
/*----------Navbar-End--------*/

/*-------section-1-main-------*/

.section-1-main {
    background-color: rgb(55, 63, 80);
    padding-top: 40px;
    padding-bottom: 40px;
}
.sec-1-h4-pro {
    color: #fff;
    font-weight: bold;
}
.sec-1-home-div {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding-right: 8px;
}
.sec-1-gra-div {
    color: #a6acb7;
    font-size: 15px;
    font-weight: bold;
    padding-right: 8px;
}
.sec-1-div-update {
    padding-top: 50px;
}
.sec-1-div-sign-float {
    padding-left: 400px;
}
.sec-1-btn-sign {
    padding: 5px 19px;
    background-color: #fe4042;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 15px;
}
.sec-1-p-upd {
    color: #fff;
    font-weight: 500;
}
.sec-1-align-center {
    padding-left: 438px;
}

@media(max-width:768px) {
    .sec-1-p-upd {
        display: none;
    }
    .sec-1-btn-sign {
        display: none;
    }
    .sec-1-h4-pro {
        text-align: center;
    }
    .sec-1-align-center {
        text-align: center;
        padding-left: 0px;
    }
}
.sec-1-img-52 {
    border-radius: 50%;
}
.sec-2-border {
    padding-top: 20px;
    padding-left: 22px;
    padding-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 0 1px #7d879c;
    background-color: #fff;
}
.sec-2-img-52-text {
    padding-left: 14px;
    line-height: .500;
    padding-top: 35px;
}
.sec-2-img-52-text-p-s {
    font-weight: 500;
    font-size: 14px;
    color: #69b3fe;
}
.sec-2-p-sus {
    font-weight: bold;
}
.sec-2-h6-dash {
    font-size: 16px;
    font-weight: bold;
    color: #7d879c;
    padding-top: 20px;
    padding-bottom: 20px;
}
.sec-2-icon {
    padding-right: 2px;
    opacity: .800;
}
.sec-2-span-tex {
    font-size: 14px;
    font-weight: 600;
    opacity: .700;
}
.sec-1-back-color {
    position: relative;
}
.sec-2-border {
    position: absolute;
    top: 160px;
    width: 350px;
}
.sec-2-img-52-png {
    border-radius: 8px;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 18px;
}
.sec-2-div-input-back-color {
    background-color: #f6f9fc;
}
.btn-change-main-div {
    padding-top: 40px;
    padding-left: 15px;
}
.btn-change {
    padding: 5px 20px;
    font-size: 13px;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    color: #7d879c;
}
.sec-2-btn-p-up {
    font-size: 14px;
    color: #7d879c;
    font-weight: 600;
    opacity: .700;
}
.sec-2-inputs {
    width: 100%;
    padding: 8px 0 8px 0;
    border-radius: 8px;
    border: 1px solid #7d879c;
    padding-left: 10px;
    font-size: 14px;
}
.sec-2-labels {
    font-size: 14px;
    font-weight: bold;
    opacity: .850;
    padding-bottom: 8px;
}
.sec-2-border-botm {
    border-bottom: 1px solid #7d879c;
    padding-bottom: 19px;
}
.btn-update {
    padding: 8px 19px;
    color: #fff;
    background-color: #fe4042;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    margin-left: 215px;
}
@media(max-width:768px){
    .sec-2-border{
        display: none;
    }
    .btn-update {
        margin-left: 0;
    }
}

/*--------section-2-end-----*/

/*---------Footer-start-----*/
.footer-main-div ul {
    list-style: none;
}
.footer-main-div ul li a {
    text-decoration: none;
    color: rgba(255,255,255,.65);
    font-weight: bold;
    font-size: 15px;
}
.footer-main-div {
    background-color: #4b566b;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-top: 30px;
}
.footer-main-div p {
    color: #fff;
    font-weight: bolder;
}
.footer-btn-span-dow {
    font-size: 12px;
    font-weight: bold;
    color: #6f7a8e;
}
.footer-btn-span-app {
    color: #fff;
    font-weight: bold;
    
}
.footer-btn-app {
    background-color: #2b3445;
    border: none;
    padding: 5px 18px;
    border-radius: 8px;
}
.footer-small {
    font-size: 12px;
    font-weight: bold;
    color: rgba(255,255,255,.65);
}
.footer-cont-2-span-fast {
    font-size: 17px;
    color: #fff;
    font-weight: bold;
}
.footer-cont-2-main {
    background-color: #2b3445;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #4b566b;
}
.footer-cont-2-span-free {
    font-size: 13px;
    font-weight: bold;
    color: #6f7a8e;
}
.footer-cont-2-icon {
    color: #fe4042;
    font-size: 45px;
    padding-right: 8px;
}
@media(max-width:768px){
    .footer-cont-2-main {
        justify-content: end;
    }
    .footer-cont-2-div-child {
        padding-top: 30px;
    }
}
.footer-cont-3-main {
    background-color: #2b3445;
    padding-top: 40px;
}
.footer-cont-3-btn-input {
    padding-left: 25px;
}
.cont-3-ul-list ul {
    list-style: none;
    padding-top: 25px;
}
.cont-3-ul-list ul li a {
    text-decoration: none;
    padding-right: 15px;
    color: #9ca1ac;
    font-size: 14px;
    font-weight: bolder;
}
.cont-3-div-img-cart {
    padding-left: 32px;
}
.cont-3-span-all {
    font-size: 12px;
    color: #9ca1ac;
    font-weight: bold;
    padding-left: 32px;
}
.cont-3-div-icons-int {
    padding-left: 430px;
}
.footer-int-icons {
    font-size: 20px;
    border: 1px solid black;
    padding: 8px 8px 8px 8px;
    margin-right: 8px;
    border-radius: 5px;
    color: #fff;
    background-color: #4b566b;
    border: none;
    transition: .4s;
}
.footer-int-icons:hover {
    background-color: #fff;
    color: #0d6efd;
}
@media(max-width:768px) {
    .footer-cont-3-main {
        text-align: center;
    }
    .cont-3-div-img-cart {
        text-align: center;
    }
    .cont-3-ul-list {
        text-align: center;
    }
    .cont-3-div-icons-int {
        padding-top: 40px;
        padding-left: 0;
    }
}
@media(max-width:915px){
    .footer-cont-2-div-child{
        margin-top: 35px;
    }
}

.cont-3-ul-currency {
    list-style: none;
}
.cont-3-ul-currency li a {
    text-decoration: none;
    color: black;
}
/*---------Footer-end-----*/